
/* ===================
1. VARIABLES Y RESET
2. LAYOUT GLOBAL
3. HEADER
4. FORMULARIO DE BÚSQUEDA
5. CARDS DE RESULTADOS
6. PAGINACIÓN
7. PÁGINA SUMINISTRO
8. PÁGINA FAVORITOS
======================*/

/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*/

/* ======= VARIABLES Y RESET======= */

/* Custom Properties */
:root {
	/* ---paleta de color--- */
	--text-secondary: #888;
	--brand-secondary: #3027CE;
	--brand: #433BFF;
	--nav-button: #645ffe;
	--nav-button-hover: #9590FF;
	--my-black: #050315;
	--lavender: #DDDCFF; /* renombrar por semántica */
	--search-emphasy: var(--lavender); /* renombrado por semántica */
	/* --bg-default: #FBFBFE; */ /* el de la paleta */
	--bg-default: #e2e3e6; /* mas oscuro que el de la paleta */
	--bg-secondary: #FBFBFE;
	--tag1-bg: var(--lavender);
	--tag1-text: #3027CE;
	--tag2-bg: #C8EDB8;
	--tag2-text: #2A5A08;
	--tag3-bg: #F5C0C0;
	--tag3-text: #8B1A1A;


	/* ---escala tipográfica--- */
	--fs-xs: 0.75rem;
	--fs-s: 0.875rem;
	--fs-base: 1rem;
	--fs-l: 1.25rem;
	--fs-xl: 1.50rem;
	--fs-xxl: 2rem;
	
}

/* Reseteo estos css que trae por defecto el navegador */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* ======= LAYOUT GLOBAL ======== */
body {
	font-family: Inter, Arial, Helvetica, sans-serif;
	background-color: var(--bg-default);
}

/* ======== HEADER ========= */
.header-container {
	max-width: 800px; /*ancho max del contenido*/
	margin: 0 auto;
	height: 80px;
	padding: 0 10px;
	display: flex; /* Si no digo nada, es horizontal*/
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.brand { /* Logo + CompanyName */
	color: white; /* Opción blanco 100% */
	/* color: var(--bg-default); */
	text-decoration: none; /*Elimina el subrallado del link*/
	padding-left: 10px;
}

/*Quizas los botones deberian ser mas pequeños en formato movil ?? */
/* Doble selector para que solo toque el nav del header */
#app-header nav {
	display: flex;
	gap: 8px; /* Separación entre botones */
}
#app-header {
	background-color: var(--brand);
}
.company-name, .logo { /* aplica el style a ambos */
	font-size: var(--fs-xl);
	/* Quizas usar otra typo mas corporativa para resaltar */
}

/* xxxxxx OJO: Eliminar si no lo uso */
.logo {
	display: none; /* de momento así */
}
/* Botones del nav */
.nav-button {
	appearance: none; /* Elimina los navegador default styles */
	border: none; /* Elimina los navegador default styles */
	cursor:pointer;
	padding: 7px 10px;
	border-radius: 10px;
	background-color: var(--nav-button);
	color: var(--bg-default);
	font-size: var(--fs-s);
	text-decoration: none; /* elimina subrayado de link */
	transition: background-color 0.15s ease; /* Hace el cambio mas suave, al entrar y al salir */
}

/* Al pasar el mouse por encima 
o si se navega por teclado */
.nav-button:hover,
.nav-button:focus-visible {
	background-color: var(--nav-button-hover);
}

/* Técnica "visually-hidden": Oculta visualmente el label
del buscador al usuario pero lo mantiene accesible para 
lectores de pantalla. No es aportación propia. 
Fuente: www.a11yproject.com 
*/
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	white-space: nowrap;
	border: 0;
}

/* ===== MAIN ==== */
main {
	max-width: 800px;
	margin: 0 auto; /* Centra el bloque horizontalmente */
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	padding: 10px 0px 10px 0px;
	font-size: var(--fs-xl);
	font-weight: 600; /* Este peso ya lo tengo bajado de GoogleFonts */
}

.subtitle,
.legal {
	color: var(--text-secondary);
}


/* OJO: Demasiados colores??? */
.legal a {
	text-decoration: none;
	font-size: var(--fs-xs);
}

.legal a:hover,
.legal a:focus-visible {
	text-decoration: underline;
}

/* ===== FORMULARIO DE BÚSQUEDA ==== */

form {
	display: flex;
	width: 100%;/* No me convence el ancho*/
	margin: 25px 0px;
	gap: 10px;

}


input {
	flex-grow: 2; /* Al crecer se lleva 2/3 del espacio sobrante */
	border: none;
	border-radius: 10px;
	font-size: var(--fs-l);
	padding: 10px;
	background-color: var(--bg-secondary);
}

input:focus {
	outline: none;
	outline: 2px solid var(--search-emphasy); /* REVISAR + ADELANTE */

}

form button {
	flex-grow: 1; /* Al crecer se lleva 1/3 del espacio sobrante */
	border: none;
	border-radius: 10px;
	padding: 10px 0px;
	background-color: var(--brand);
	color: var(--bg-default);
	/* margin: 0 0 0 10px; */
	width: 30%;
}

/* ====== CARDS DE RESULTADOS ===== */

#results-list {
	display:flex;
	flex-direction: column;
	margin: 10px 0px;

}

.li-main {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	background: var(--bg-secondary);
	border: 1px solid #b8b5e8;
	border-left: 3px solid var(--brand);
	border-radius: 10px;
	padding: 8px 15px;
	margin: 5px 0px;
}

.li-main a {
	text-decoration: none; /* quita el subrayado del user-agent stylesheet */
	color: inherit; /* hereda y no le pone el azul del enlace */
}
.li-main:hover {
	border: 1px solid var(--brand-secondary);
	border-left: 3px solid var(--brand-secondary);
	border-right: 3px solid var(--brand-secondary);
}

.li-main h2 {
	font-size: var(--fs-s);
	font-weight: 600;
}

.li-subtitle {
	color: var(--text-secondary);
	font-size: var(--fs-xs);
	padding: 3px 0px;
	/* font-weight: 600; */
}

.li-bottom-block {
	display: flex;
	gap: 5px;
}

.li-mid-block {
	display: flex;
	justify-content: space-between;
	align-items: center; /* Centra, aunque ahora casi no se note */
}


.li-tag {
	display: inline-flex; /* tag y su texto unidos y con su tamaña justo*/
	align-items: center;
	gap: 4px;/* dist % icono y texto */
	padding: 1px 5px;
	margin: 2px;
	border-radius: 5px;
	font-size: var(--fs-xs);
	font-weight: 600;
}

/* .li-decoration {
	justify-content: end;
	} */
	
	.bi {
		font-size: 1rem;
		
	}
	.tag-generic {
		/* color-mix para mezclar el color del fondo con % blanco */
		background: color-mix(in srgb, var(--tag2-bg) 50%, white);
		color: var(--tag2-text);
		
	}
	
	.tag-recipe {
		background: color-mix(in srgb, var(--tag1-bg) 75%, white);
		color: var(--tag1-text);
	}
	
	.tag-psum {
		background: color-mix(in srgb, var(--tag3-bg) 35%, white);
		color: var(--tag3-text);
	}
	/* ===== PAGINACIÓN ===== */
	
	.top-info-pagination, #pagination {
		/* font-weight: 600; */
		font-size: var(--fs-s);
		color: var(--text-secondary);
	}
	
	#pagination {
		margin: 5px 0px 20px 0px;
	}
	
/* ======= UTILITIES ======== */
.hidden {
	display: none;
}


	/* =====DEBUG===== */
	/* .hidden {
		display: none;


} */